h1{
    font-family: 'Mochiy Pop One'; 
    text-align: center;
}

td{
    /* background-color: black; */
    height: 400px;
    width: 200px;
    /* border: 10px solid white; */
}

.art{
    margin: auto;
}

#bluebell{
    background-color: #564a79;
    /* border: 10px white solid; */
}

#electricblue{
    background-color:  #5cf4ff;
}

#starcommandblue{
    background-color: #347aad;
}

#mediumaquamarine{
    background-color: #24e5ab;
}

#celeste{
    background-color: #adf7ff;
}
