<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="test.css">
        <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Red+Hat+Mono&display=swap" rel="stylesheet">
        <title>First Big Project</title>
    </head>
    <body>
        <h1>Welcome to the Landing Page</h1>
        <h2 id="startup">We're a start-up that does something</h2>
        <p id="first">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem est ad iusto ex neque? Reiciendis eaque, nam, velit expedita atque cupiditate iure eos totam ut voluptatum, veritatis nesciunt vitae beatae.</p>
        <p id="second">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit unde cum, quisquam accusantium, odit at excepturi mollitia placeat eligendi consequuntur veritatis voluptatem dolorem minus dolores rem tempore ea velit possimus.</p>
        <h2 id="signup">Sign up for our upcoming launch!</h2>
        <form class="emailform" action="thanks" method="get">
            <label for="fname">First Name:</label><br>
            <input type="text" name="fname" id="fname" ><br>
            <label for="lname">Last Name:</label><br>
            <input type="text" name="lname" id="lname"><br>
            <label for="email">Email:</label><br>
            <input type="email" name="email" id="email"><br>
            <input type="submit" name="submit" id="submit" value="Sign me up!">
            </a>
        </form>
    </body>
</html>