body{
    background-color: #4cd8eb;
}

h1{
    border: 1px black solid;
}

h2{
    color: purple;
}

input{
    border: 2px solid rgb(rgb(87, 4, 4), green, blue);
}

p{
    background-color: #daec87;
}

textarea{
    border: 5px solid gray;
}

