body{
   background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthemepack.me%2Fi%2Fc%2F749x468%2Fmedia%2Fg%2F1451%2Fhotline-miami-theme-bv6.jpg&f=1&nofb=1);
   background-repeat: no-repeat;
}

div{
    background-color: rgb(55, 139, 22);
    border-color: blueviolet;
    border-style:double;
    border-width:5 px;
}

p{
    color: azure;
}

span{
    background-color: aqua;
    color: brown;
}